<?xml version="1.0"?>
  <launch>

   <! - Los parámetros que deben configurarse cuando inicie Gazebo, generalmente no es necesario modificar ->
   <arg name="paused" default="false"/>
   <arg name="use_sim_time" default="true"/>
   <arg name="gui" default="true"/>
   <arg name="headless" default="false"/>
   <arg name="debug" default="false"/>

       <! - Crea un nuevo mundo en Gazebo, y configura los parámetros anteriores, generalmente no necesitan modificar ->
   <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="debug" value="$(arg debug)" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="paused" value="$(arg paused)"/>
      <arg name="use_sim_time" value="$(arg use_sim_time)"/>
      <arg name="headless" value="$(arg headless)"/>
    </include>

         <! - Importe el archivo URDF, el primer parámetro se modifica al nombre del paquete de funciones, el segundo parámetro modifica la ruta al archivo URDF ->
    <param name="robot_axioma" command="cat '$(find robot_description)/urdf/robot_axioma.urdf'" />

         <! - Importe el nodo Spawn_urdf para que el Gazebo pueda identificar el archivo URDF. Necesidad de modificar la ruta al paquete de función ->
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param /robot_description -urdf -model robot" />

  </launch>
